<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Home</title>
</head>
<body>
<center><h1>Hello there, it works.</h1></center>
<h3>

    <table style="width:70%">
        <tr>
            <th>EndPoint</th>
            <th>Methods</th>
            <th>Info</th>
        </tr>
        <tr>
            <td>/post</td>
            <td>POST</td>
            <td>post method test</td>
        </tr>
        <tr>
            <td>/get</td>
            <td>GET</td>
            <td>get method test</td>
        </tr>
    </table>

</h3>
</body>
</html>